{% extends "base_generic.html" %}

{% block head_css %}
<!--datatable css-->
{% load static %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<!--table-->
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Tablica Instanci Računa</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Potrošak</th>
                            <th>Mrežarina</th>
                            <th>Datum Od</th>
                            <th>Datum Do</th>
                            <th>Omm</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for instanca in instanca_list %}
                        <tr>
                            <td><a href="{{ instanca.get_absolute_url }}">{{ instanca.potrosak }}</a></td>
                            <td>{{ instanca.mrezarina }}</td>
                            <td>{{ instanca.datum_od }}</td>
                            <td>{{ instanca.datum_do }}</td>
                            <td>{{ instanca.omm.adresa }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="buttons">
                <div class="card">
                    <div class="card-header">
                        <strong>Kontrole Instanci</strong>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'instanca_create' %}">
                            <button type="submit" class="btn btn-outline-success btn-block"><i class="fa fa-copy"></i>&nbsp;Nova Instanca</button>
                        </form>

                        <!-- <form action="{% url 'instanca_imp' %}">
                            <button type="submit" class="btn btn-outline-secondary btn-block"><i class="fa fa-sign-in"></i>&nbsp;Import .xlsx</button>
                        </form>

                        <form action="{% url 'instanca_exp' %}">
                            <button type="submit" class="btn btn-outline-secondary btn-block"><i class="fa fa-sign-out"></i>&nbsp;Eksport .csv</button>
                        </form> -->

                        <!-- <form action="{% url 'instanca_del' %}">
                            <button type="submit" class="btn btn-outline-danger"><i class="fa fa-ban"></i>&nbsp; Obriši sve instance</button>
                        </form> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body_js %}
<!--datatable js-->
{% load static %}
<script src="{% static 'js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/pdfmake.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/datatables-init.js' %}"></script>
{% endblock %}
