{% extends "base_generic.html" %}

{% block content %}
<!-- dodati tarifni model -->
<!--details-->
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>ID instance: {{ instanca.id }}</h4>
                </div>

                <div class="card-body">
                    <p><strong>OMM:</strong> {{ instanca.omm.adresa }}</p>
                    <p><strong>Šifra obračunskog mjesta:</strong> {{ instanca.omm.sifra }}</p>
                    <p><strong>Brojilo:</strong> {{ instanca.omm.brojilo }}</p>
                    <p><strong>Datum od:</strong> {{ instanca.datum_od }}</p>
                    <p><strong>Datum do:</strong> {{ instanca.datum_do }}</p>
                    <p><strong>Konstanta:</strong> {{ instanca.konstanta }}</p>
                    <p><strong>Potrošak:</strong> {{ instanca.potrosak }} kW</p>
                    <p><strong>Naknada:</strong> {{ instanca.mrezarina }}</p>
                    <p><strong>UKUPAN IZNOS OPSKRBE:</strong> {{ instanca.suma_opskrbe }} kn</p>
                    <p><strong>UKUPAN IZNOS MREŽARINE:</strong> {{ instanca.suma_mrezarine }} kn</p>

                    <form action="{% url 'instanca_update' instanca.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-magic"></i>&nbsp; Uredi instancu računa</button>
                    </form>
                    <br>
                    <form action="{% url 'instanca_delete' instanca.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger"><i class="fa fa-ban"></i>&nbsp; Izbriši instancu računa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>
    <a href="{% url 'instance' %}">Idi na tablicu</a>
</div>

{% endblock %}
