{% extends "base_generic.html" %}

{% block content %}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="col-md-4">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Izbriši OMM?</h4>
                <br>
                <p>Jeste li sigurni da želite izbrisati OMM? ID: {{ omm.id }}</p>
                <hr>
                <p class="mb-0">Nakon nepovratnog brisanja OMM-a, možete ponoviti proces unosa istog.</p>
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-danger" value="Da, izbriši!">
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
