{% extends "base_generic.html" %}

{% block head_css %}
<!--datatable css-->
{% load static %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Sveti Ivan Zelina</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Kontrolna Ploča</a></li>
                    <li><a href="#">Omm</a></li>
                    <li class="active">Tablica</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!--table-->
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Tablica Omm-a</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Adresa</th>
                                <th>Šifra</th>
                                <th>Brojilo</th>
                                <th>Trafostanica</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for omm in omm_list %}
                            <tr>
                                <td><a href="{{ omm.get_absolute_url }}">{{ omm.adresa }}</a></td>
                                <td>{{ omm.sifra }}</td>
                                <td>{{ omm.brojilo }}</td>
                                <td>{{ omm.trafo }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="buttons">
                <div class="card">
                    <div class="card-header">
                        <strong>Kontrole Omm-a</strong>
                    </div>
                    <div class="card-body">

                        <form action="{% url 'omm_create' %}">
                            <button type="submit" class="btn btn-outline-success"><i class="fa fa-bolt"></i>&nbsp; Dodaj novo Omm</button>
                        </form>

                        <form action="{% url 'omm_imp' %}">
                            <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-sign-in"></i>&nbsp; Import iz tablice</button>
                        </form>

                        <form action="{% url 'omm_exp' %}">
                            <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-sign-out"></i>&nbsp; Eksport u .csv</button>
                        </form>

                        <form action="{% url 'omm_del' %}">
                            <button type="submit" class="btn btn-outline-danger"><i class="fa fa-ban"></i>&nbsp; Obriši sva Omm</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body_js %}
<!--datatable js-->
{% load static %}
<script src="{% static 'js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/pdfmake.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/datatables-init.js' %}"></script>
{% endblock %}
