{% extends 'base_generic.html' %}

{% block content %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Sveti Ivan Zelina</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Kontrolna Ploča</a></li>
                    <li><a href="#">Omm</a></li>
                    <li class="active">Import</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile" class="btn btn-outline-success">
            <br>
            <br>
            <button type="submit" class="btn btn-outline-success">Import</button>
        </form>
    </div>
</div>

{% endblock %}
