{% extends "base_generic.html" %}

{% block content %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Sveti Ivan Zelina</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Kontrolna Ploča</a></li>
                    <li><a href="#">Kontakti</a></li>
                    <li class="active">Brisanje</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="col-md-4">
        <div class="animated fadeIn">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Izbriši partnera?</h4>
                <br>
                <p>Jeste li sigurni da želite izbrisati partnera? ID: {{ partner.tvrtka }}</p>
                <hr>
                <p class="mb-0">Nakon nepovratnog brisanja partnera, možete ponoviti proces unosa istog.</p>
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-danger" value="Da, izbriši!">
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
