{% extends "base_generic.html" %}

{% block content %}
<div class="content mt-3">
    <div class="col-md-4">
        <div class="animated fadeIn">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Izbriši sve račune?</h4>
                <br>
                <p>Jeste li sigurni da želite izbrisati sve račune?</p>
                <hr>
                <p class="mb-0">Nakon nepovratnog brisanja svih računa, možete ponoviti proces unosa istih.</p>
                <br>
                <form action="{% url 'racun_del_all' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger"><i class="fa fa-lightbulb-o"></i>&nbsp; Obriši sve račune</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
