{% extends "base_generic.html" %}

{% block head_css %}
<!--datatable css-->
{% load static %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<!--table-->
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Tablica Računa</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Broj</th>
                            <th>Količina</th>
                            <th>Datum</th>
                            <th>Tarifa</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for racun in racun_list %}
                        <tr>
                            <td><a href="{{ racun.get_absolute_url }}">{{ racun.broj }}</a></td>
                            <td>{{ racun.kolicina }}</td>
                            <td>{{ racun.datum }}</td>
                            <td>{{ racun.tarifa.naziv }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="buttons">
                <div class="card">
                    <div class="card-header">
                        <strong>Kontrole Računa</strong>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'racun_create' %}">
                            <button type="submit" class="btn btn-outline-success btn-block"><i class="fa fa-file-text"></i>&nbsp;Novi Račun</button>
                        </form>
    
                        <form action="{% url 'racun_imp' %}">
                            <button type="submit" class="btn btn-outline-secondary btn-block"><i class="fa fa-sign-in"></i>&nbsp;Import .xlsx</button>
                        </form>
    
                        <form action="{% url 'racun_exp' %}">
                            <button type="submit" class="btn btn-outline-secondary btn-block"><i class="fa fa-sign-out"></i>&nbsp;Eksport .csv</button>
                        </form>
    
                        <!-- <form action="{% url 'racun_del' %}">
                            <button type="submit" class="btn btn-outline-danger"><i class="fa fa-ban"></i>&nbsp; Obriši sve račune</button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
<!--datatable js-->
{% load static %}
<script src="{% static 'js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/pdfmake.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/datatables-init.js' %}"></script>
{% endblock %}
