{% extends "base_generic.html" %}

{% block content %}
<div class="content mt-3">
    <div class="animated fadeIn">
        <h1>id računa: {{ racun.id }}</h1>
        <p>količina: {{ racun.kolicina }}</p>
        <p class="text-danger">datum: {{ racun.datum }}</p>

        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}
