{% extends "base_generic.html" %}

{% block content %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Sveti Ivan Zelina</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Kontrolna Ploča</a></li>
                    <li><a href="#">Alarmi</a></li>
                    <li class="active">Email</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="col-lg-6">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Poslano!</h4>
                <p>Uspješno ste poslali sve predefinirane alarme na email.</p>
                <hr>
                <p class="mb-0">...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}