{% extends "base_generic.html" %}

{% block content %}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="col-lg-6">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">SCADA</h4>
                <p>Sustav za nadziranje upravljanja i prikupljanja podataka.</p>
                <hr>
                <p class="mb-0">Kompatibilnost sustava sa SCADA arhitekturom je ostvariva implementacijom odgovarajućih modela u bazu podataka i pokretanjem asinkronog web-servisa za prikupljanje podataka s različitih uređaja (uključujući pametne uređaje).</p>
                <p>Zahtjevi implementacije su detaljna specifikacija korištenih protokola na svim razinama SCADAe te opisna tehnička izvješća.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
